<p id="notice"><%= notice %></p>

<h1>Teams</h1>

<table>
  <thead>
    <tr>
      <th>Code</th>
      <th>Fullname</th>
      <th>Shortname</th>
      <th colspan="3"></th>
    </tr>
  </thead>
<%#= @teams["NFLTeams"][2]["code"] %>
  
  <tbody>
    <% @teams.each do |team| %>
      <tr>
        <% test = 1 %>
        <td><%= team["NFLTeams"][test]["code"] %></td>
        <td><%#= team["fullName"] %></td>
        <td><%#= team["shortName"] %></td>

      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Team', new_team_path %>
