<%# app/views/students/index.html.erb %>
<h1>Students</h1>

<%= form_for_filterrific @filterrific do |f| %>
  <div>
    Position
    <%= f.select(
      :filter_player_position,
      @filterrific.select_options[:filter_player_position],
      { include_blank: '- All -' }
    ) %>
  </div>
  <div>
    <%= link_to(
      'Reset filters',
      reset_filterrific_url,
    ) %>
  </div>
  <%# add an automated spinner to your form when the list is refreshed %>
  <%#= render_filterrific_spinner %>
<% end %>

<%= render(
  partial: 'players/list',
  locals: { players: @players }
) %>